@font-face {
    font-family: "DP";
    src: url('/_data001/Font/dp.ttf');
}

/*========== Game Screen ==========*/

.canvas {
    background-color: antiquewhite;
    margin: 60px auto;
    max-width: 646px;
    max-height: 486px;
    height: 480px;
    width: 640px;
	position: relative;
}
.game-screen {
	font-family: "DP"
}
canvas {
    height: 100%;
    width: 100%;
	position: absolute;
}
.game-screen {
	display: table;
	width: 100%;
	height: 100%;
}
.game-loading-active {
	z-index: 6;
}
.game-UI {
	z-index: 5;
}
.game-menu {
	z-index: 4;
}
.game-foreground {
	z-index: 3;
}
.game-character {
	z-index: 2;
}
.game-background {
	z-index: 1;
}

.full-screen{
    background-image: url(/_data001/Picture/fs.ico);
    width: 20px;
    height: 20px;
    background-size: contain;
    background-position: center;
    cursor: pointer;
    margin: 0 auto;
}


.button-top {
    width: 60px;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
    text-align: center;
    border: 1px solid black;
}

.cursor-pointer{
	cursor: pointer !important;
}
.cursor-text {
	cursor: text;
}